.title {
  font-weight: bold;

  &::before {
    content: "➪";
    font-size: 1rem;
    padding-right: 0.5rem;
  }
}

.description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.container {
  & label {
    font-weight: 600;
  }
}