@import "src/styles/colors.scss";

.steps-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

    hr {
      height: 1px;
      width: 50%;
    }

}

.circle {
  width: 2.5rem;
  height: 2.5rem;
  color: $locality-dark;
  font-weight: bold;
  background: transparent;
  text-align: center;
  border-radius: 50%;

  line-height: 2.5rem;
  box-sizing: content-box;
  box-shadow: $shadow;
}

.active {
  color: $locality-primary;
  box-shadow: $inner-shadow;
}

