@import "src/styles/colors.scss";

.steps-container {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

    hr {
      height: 1px;
      width: 50%;
    }

}

.circle {
  width: 1.5rem;
  height: 1.5rem;

  background: transparent;
  border: 1px solid $locality-dark;
  color: $locality-primary;
  text-align: center;
  border-radius: 50%;

  line-height: 1.5rem;
  box-sizing: content-box;

}

.active {
  color: $locality-dark;
  background-color: $locality-primary;
}

