@import "src/styles/colors.scss";

button {
  border: 0;
  outline: 0;
  border-radius: $radius;
  padding: 0.4rem 0.6rem;
  background-color:$color-bg;
  text-shadow: 1px 1px 0 $color-white;
  color:#61677C;
  box-shadow: -3px -3px 10px $color-white,  5px 3px 8px $color-shadow;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;

  &:hover {
    box-shadow: -2px -2px 4px $color-white, 2px 2px 4px $color-shadow;
  }

  &:active {
    box-shadow: inset 1px 1px 2px $color-shadow, inset -1px -1px 2px $color-white;
  }

  &.primary {
    display: block;
    color:$locality-light;
    text-shadow: none;
    font-weight: bold;
    background: linear-gradient(215deg, $locality-primary, $locality-faded);
    box-shadow: 2px 4px 7px $color-shadow;

    &:hover {
      box-shadow: 3px 3px 5px $color-white, 3px 4px 8px $color-shadow;
    }

    &:disabled {
     box-shadow: none;
      background: none;
    }
  }

  &.secondary {
    display: block;
    text-shadow: none;
    background-color: transparent;
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
    inset 3px 3px 5px rgba(0, 0, 0, 0.1);

    &:hover {
      box-shadow: 3px 3px 5px $color-white, 3px 4px 8px $color-shadow;
    }
  }

  &:disabled {
    cursor: default;
    box-shadow: 3px 4px 8px $color-shadow;
    color:#AEAFB6;
    text-shadow: 1px 1px 15px $color-shadow;
    background-color: #e0e5ec;
  }
}