$locality-primary: #f06292;
$locality-faded: #F694B5;
$locality-dark: #161d34;
$locality-dark-faded: #161d3440;
$locality-light: white;
$radius: .35rem;
$border-width: 2px;
$offset: .4rem;
$transition: .1s;
$background: #e0e5ec;

$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #f0f0f0;
