@import "src/styles/colors.scss";
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
span,
dd {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: $locality-dark;

  &:hover {
    text-decoration: underline;
    text-decoration-color: $locality-primary;
  }
}

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 3rem;
}

h2 {
  font-family: 'Abril Fatface', cursive;
  font-size: 2.5rem;
}

h3 {
  font-family: 'Abril Fatface', cursive;
  font-size: 2rem;
}

h3 {
  font-family: 'Abril Fatface', cursive;
  font-size: 1.5rem;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

img {
  width:100%;
  height:100%;
  object-fit: cover;
  overflow: hidden;
}

button {
  font-weight: 600;
  border: solid 2px $locality-dark;
  outline: 0;
  padding: 0.2rem 0.4rem;
  font-size: 1rem;
  background-color: $locality-light;
  border-radius: $radius;
  position: relative;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    background-color: $locality-primary;
    z-index: -1;
    border-radius: $radius;
    border: solid $border-width $locality-dark;
    transition: all $transition ease-in-out;
  }

  &:hover {
    &::after {
      width: 100%;
      height: 100%;
      top: $offset;
      left: $offset;
    }
  }

  &:disabled {
    cursor: unset;
    border: solid 2px $locality-dark-faded;

    &:hover {
      &::after {
        top: 0;
        left: 0
      }
    }
  }
}

button.primary {
  background-color: $locality-primary;
  color: $locality-light;

  &::after {
    border: 0;
    box-shadow: 0 0 0 $border-width $locality-primary;
    top: $offset;
    left: $offset;
  }

  &:hover {
    background-color: $locality-dark;

    &::after {
      background-color: $locality-primary;
      box-shadow: none;
    }
  }

  &:disabled {
    cursor: unset;
    background-color: $locality-light;
    color: $locality-dark-faded;

    &::after {
      top: 0;
      left: 0;
    }
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 2rem;
  grid-column-gap: 1rem;
}

.text-input-field {
  display: grid;

  &::after {
    /* Note the weird space! Needed to prevent jumpy behavior */
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    /* Hidden from view, clicks, and screen readers */
    visibility: hidden;
  }

  & > textarea {
    resize: none;
    overflow: hidden;

    &::after {
      padding: 0.5rem;
      grid-area: 1 / 1 / 2 / 2;
    }
  }
}

// CUSTOM CHECKBOX
.custom-checkbox {
  display: none;

  &:checked + label {
    padding-left: 1em;
    color: $locality-light;

    &:before {
      top: 0;
      width: 100%;
      height: 2em;
      background: $locality-primary;
    }
  }

  & ~ label {
    position: relative;
    margin-right: 1em;
    padding-left: 2em;
    padding-right: 1em;
    line-height: 2;
    cursor: pointer;
    &::before {
      box-sizing: border-box;
      content: " ";
      position: absolute;
      top: 0.3em;
      left: 0;
      display: block;
      width: 1.4em;
      height: 1.4em;
      border: 2px solid $locality-primary;
      border-radius: .25em;
      z-index: -1;
      -webkit-transition: .25s all ease;
      -o-transition: .25s all ease;
      transition: .25s all ease;
    }
  }
}

