@import "src/styles/colors.scss";

input {
  height: 2.5rem;
  border: none;
  border-radius: $radius;
  font-size: 1.4rem;
  padding-left: 1rem;
  box-shadow: $shadow;
  background: none;
  font-family: inherit;
  color: $locality-dark;

  &:focus {
    outline: none;
    box-shadow: $inner-shadow;;
  }

  &.submit-button {
    margin: 1.5rem auto 0.5rem auto;
    width: 10rem;
    padding: 0;
    display: block;
    color:$locality-light;
    text-shadow: none;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(215deg, $locality-primary, $locality-faded);
    box-shadow: 2px 4px 7px $color-shadow;
    cursor: pointer;

    &:hover {
      box-shadow: 3px 3px 5px $color-white, 3px 4px 8px $color-shadow;
    }
  }
}

fieldset {
  border: none;
  border-radius: 20px;
  box-shadow:  -5px 5px 9px #c4cad3,
  5px -5px 9px #ffffff;
  padding: 2rem;

  & > legend {
    position: relative;
    top: 1.5rem;
    color: $locality-dark-faded
  }
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  border-radius: $radius;
  padding: 0.25em 0.5em;
  cursor: pointer;
  height: 2.5rem;
  box-shadow: $shadow;
}

.input-container {
  padding: 0.2rem 0.4rem;
  @media screen and (min-width: 568px) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0.4rem 0.6rem;
    align-items: center;
  }
}

.input-field {
  width: 100%;
}

.checkbox {
  width: 6rem;
  display: flex;
  justify-content: center;

  input {
    display: none;
  }

  label {
    box-shadow: $shadow;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    width: 2.8rem;
    height: 2.8rem;

    &:hover i { color: red; }

    i {
      font-size: 1.8rem;
      font-weight: 700;
      color: $locality-dark-faded;
      transition: .3s ease;
    }
  }

  & input:checked {
    & ~ label {
      box-shadow: $inner-shadow;
      i {
        color: $locality-primary;
      }
    }
}
}