.image {
  width:100%;
  height:100%;
  object-fit: cover;
  overflow: hidden;
}

.box {
  height: 5rem;
}

.title {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  & span {
    font-size: 0.7rem;
  }
}