@import "src/styles/colors.scss";

.title {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;

}

.dashboardSection {
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2rem;
  }
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  box-shadow: $inner-shadow;
  border-radius: $radius;
  padding: 3rem;
  flex-direction: column;
  align-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    box-shadow: $inner-shadow;
    border-radius: $radius;
    padding: 3rem;
  }
}

.itemsContainer {
  display: flex;
  flex-direction: column;
}

.item {
  display: inline-flex;

  & span:nth-child(1) {
    font-weight: bold;
    padding-right: 1rem;
  }

  & span:nth-child(2) {
    color: rebeccapurple;
  }
}