@import "src/styles/colors.scss";

.nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 0 1.5rem;
    margin-bottom: 3rem;
    box-shadow: 0 0 10px $locality-dark;

    &__list {
        //display: flex;
        //justify-content: flex-end;
        //align-items: center;
        //gap: 2rem;
        //margin: 0 2rem;
        position: relative;

        &item {
            list-style: none;
            padding: 1.5rem 1rem;
            cursor: pointer;

            &::after {
                content: '';
                width: 0;
                height: 0.3rem;
                border-radius: 4px;
                position: absolute;
                left: 1rem;
                bottom: 0.8rem;
                background-color: $locality-primary;
                transition: width 200ms ease-in;
            }

            &:hover::after, &:focus::after {
                width: 100%;
            }

            &:hover ul, &:focus ul {
                opacity: 1;
                visibility: visible;
            }

            &drop {
                position: absolute;
                top: 4rem;
                left: -1rem;
                box-shadow: 0 0 10px gray;
                background-color: white;
                border-radius: 4px;
                width: 12rem;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                opacity: 0;
                visibility: hidden;
                transition: opacity 200ms ease-in-out;

                li {
                    list-style: none;
                    transition: background-color 200ms ease-in-out;
                    cursor: pointer;

                    &:hover, &:focus {
                        background-color: $locality-primary;
                    }

                    a {
                        text-decoration: none;
                        color: inherit;
                        width: 100%;
                        display: inline-block;
                        padding: 0.5rem 1rem;
                    }
                }
            }
        }
    }

    &__account {
        font-weight: 600;
        color: $locality-primary;
    }
}

.title {
    justify-self: start;
}
