@import "src/styles/colors.scss";

.nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 0 1.5rem;
    margin-bottom: 3rem;
    background: linear-gradient(315deg, #e0e5ec, #e0e5ec);
    box-shadow:  0.3rem 0.5rem 1.8rem $color-shadow,
    1rem -1rem 1.5rem $color-shadow;

    &__list {
        position: relative;
        box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 1),
        inset 3px 3px 5px rgba(0, 0, 0, 0.1);
        display: inline-flex;
        border-radius: $radius;

        &item {
            list-style: none;
            padding: 0.5rem 1.5rem;
            cursor: pointer;
            min-width: 15rem;
            text-align: center;

            &:hover::after, &:focus::after {
                width: 100%;
            }

            &:hover ul, &:focus ul {
                opacity: 1;
                visibility: visible;
            }

            &drop {
                position: absolute;
                top: 2rem;
                box-shadow: 0 0 10px gray;
                background-color: transparent;
                backdrop-filter: blur( 4.0px );
                border-radius: 4px;
                width: 12rem;
                padding: 1rem;
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                opacity: 0;
                visibility: hidden;
                transition: opacity 200ms ease-in-out;

                li {
                    list-style: none;
                    transition: background-color 200ms ease-in-out;
                    cursor: pointer;

                    &:hover, &:focus {
                        box-shadow: $inner-shadow;
                        border-radius: $radius;
                    }

                    a {
                        text-decoration: none;
                        color: inherit;
                        width: 100%;
                        display: inline-block;
                        padding: 0.5rem 1rem;
                    }
                }
            }
        }
    }

    &__account {
        font-weight: 600;
        color: $locality-primary;
    }
}

.logo-title {
    justify-self: start;
}
