@import "src/styles/colors.scss";

.account-container {
    justify-self: end;

    span {
        @media screen and (min-width: 768px) {
            font-weight: 600;
            color: $locality-primary;
            margin-right: 2rem;
            display: inline-flex;
        }
        display: none;
    }


}
